.dropdown-menu {
    position: absolute;
    top: 136px;
    right: 109px;
    height: 280px;
    aspect-ratio: 1.5/2;
    border-radius: 24px;
    background-color: #3ec7ea;

    & ul {
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;

        .sm-icon {
            height: 50px;
        }
    }
}

.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both;
    animation: roll-in-right 0.6s ease-out both;
}

.roll-out-right {
    -webkit-animation: roll-out-right 0.6s ease-in both;
    animation: roll-out-right 0.6s ease-in both;
}

@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(540deg);
        transform: translateX(1000px) rotate(540deg);
        opacity: 0;
    }
}

@keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(540deg);
        transform: translateX(1000px) rotate(540deg);
        opacity: 0;
    }
}
