.image-track {
    display: flex;
    gap: 4vmin;
    position: fixed;
    left: 40%;
    top: 45%;
    transform: translate(0%, -50%);
    user-select: none;
    animation: slide 20s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}

@keyframes slide {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}


.project-card {
    width: 440px;
    height: 495px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .project-card-image {
        aspect-ratio: 4/4.5;
        border-radius: 30px;
        overflow: hidden;
        cursor: pointer;
    }

    .project-details {
        height: 163px;
        width: 400px;
        text-shadow: #2c2c2c 7px 7px 7px;
        left: 20px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        bottom: -140px;
        opacity: 0;
        -webkit-animation: slide-out-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-out-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

        .project-title {
            margin: 0;
            font-size: 2.2em;
            color: #eacb3e;
            font-weight: 700;
        }

        .project-description {
            margin: 0;
            color: #eacb3e;
            font-weight: 200;
        }

        .tech-stack {
            color: #ea3eb4;
            font-weight: 100;

            & h3 {
                margin: 0;
            }
        }
    }
}

.bg-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.project-card-image:hover .bg-img,
.project-card-image:focus .bg-img {
    transform: scale(1.4);
}

.project-card:hover .project-details,
.project-card:focus .project-details {
    -webkit-animation: slide-in-blurred-bottom 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
        position: fixed;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
        position: absolute;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
        position: fixed;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
        position: absolute;
    }
}

@-webkit-keyframes slide-out-blurred-bottom {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
        position: absolute;
    }
    100% {
        -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
        transform: translateY(1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
        position: fixed;
    }
}

@keyframes slide-out-blurred-bottom {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
        position: absolute;
    }
    100% {
        -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
        transform: translateY(1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
        position: fixed;
    }
}


